nav {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header ul a {
    font-weight: 600;
    color: #2a2a2a;
    text-decoration: none;
}

ul a:hover {
    color: #aaa;
    transition: all 0.3s ease;
}

.home {
    color: #aaa;
}

header {
    border-bottom: 2px dotted #aaa;
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #2a2a2a;
    margin: 4px 0;
}

.left_banner {
    width: 77rem;
    height: 62.8rem;
    background-image: url('../images/left-banner-image.jpg');
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.banner {
    margin-top: 6rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px dotted #aaa;
    padding-bottom: 6rem;
}

.left_banner p {
    margin: 10px 0;
}

.left_banner h1 {
    font-size: 4rem;
}

.left_banner button {
    padding: 12px 25px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 13px;
    transition: all 0.3s ease;
}

.left_banner button:hover {
    color: #2a2a2a;
    background-color: #fff;
    cursor: pointer;
}

.right-banner {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.r_banner {
    width: 32rem;
    height: 30.1rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 10px;
    position: relative;
    text-align: center;
}

.r_banner-1 {
    background-image: url('../images/baner-right-image-01.jpg');
}

.r_banner-2 {
    background-image: url('../images/baner-right-image-02.jpg');
}

.r_banner-3 {
    background-image: url('../images/baner-right-image-03.jpg');
}

.r_banner-4 {
    background-image: url('../images/baner-right-image-04.jpg');
}

.banner p {
    font-style: italic;
}

.men {
    margin-top: 8rem;
    padding-bottom: 6rem;
}

.men h1 {
    font-size: 3.4rem;
    color: #2a2a2a;
    font-weight: 700;
}

.header_p {
    font-size: 1.4rem;
    color: #a1a1a1;
    font-style: italic;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

.card img {
    height: 36.9rem;
    width: 35rem;
}

.img_container {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 35rem;
}

.card h3 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 0.5rem;
}

.card span {
    font-size: 1.8rem;
    color: #a1a1a1;
    font-weight: 500;
}

section {
    border-bottom: 2px dotted #aaa;
}

.left_content {
    width: 45%;
}

.left_content h2 {
    font-size: 3.4rem;
}

.left_content p {
    color: #aaaa;
    font-size: 1.4rem;
}

.quote {
    padding: 20px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.quote p {
    color: #2a2a2a;
    font-style: italic;
    font-size: 1.4rem;
}

.quote i {
    font-size: 4.5rem;
    color: #2a2a2a;
}

.left_content button {
    padding: 12px 25px;
    border: 1px solid black;
    transition: all 0.3s ease;
    background-color: white;
    cursor: pointer;
}

.left_content button:hover {
    background-color: black;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    padding-bottom: 6rem;
}

.right_content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 48%;
    justify-content: space-between;
    margin-left: 10px;
}

.box {
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8F8;
}

.box h3 {
    font-size: 2.4rem;
    color: #2a2a2a;
}

.box p {
    font-size: 1.4rem;
    color: #aaaa;
    font-style: italic;
    margin-top: 0.5rem;
}

.social {
    margin-top: 6rem;
    padding-bottom: 6rem;
}

.social h2 {
    font-size: 3.4rem;
    color: #2a2a2a;
}

.social p {
    font-size: 1.4rem;
    color: #aaa;
    font-style: italic;
}

.social-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

.image-container {
    position: relative;
    width: 24%;
    height: auto;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.784);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: white;
}

.subscribe {
    margin-top: 6rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscribe h2 {
    font-size: 3.4rem;
    color: #2a2a2a;
}

.left_subscribe {
    width: 60%;
}

.subs_p {
    color: #aaa;
    font-style: italic;
    margin-bottom: 3rem;
}

.subscribe input {
    width: 28.66rem;
    height: 4.4rem;
    padding-left: 1.5rem;
}

.subscribe input::placeholder {
    font-size: 1.6rem;
    color: #aaa;
    font-style: italic;
}

.subscribe button {
    height: 4.4rem;
    padding: 0 1.5rem;
    background-color: #2a2a2a;
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.input {
    display: flex;
    gap: 2rem;
}

.subscribe button:hover {
    background-color: white;
    color: #2a2a2a;
}

.sub {
    width: 18rem;
    height: 8rem;
}

.right_subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
    margin-top: 30px;
}

.sub p {
    font-size: 1.4rem;
    color: #aaa;
}

footer {
    padding: 60px 0;
    background-color: #2a2a2a;
    color: white;
}

footer li {
    margin: 10px 0;
}

footer a {
    color: #ffff;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #a1a1a1;
}

.link1 {
    width: 27%;
}

.link2 {
    font-size: 1.6rem;
}

.under-footer ul {
    display: flex;
    gap: 25px;
}

.under-footer a {
    font-size: 25px;
}

.under-footer p a {
    font-size: 1.4rem;
}

.under-footer ul a:hover {
    color: rgb(195, 77, 77);
}

.under-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 1rem;
    padding-top: 30px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .image-container {
        width: 23%;
    }

    .left_subscribe {
        width: 100%;
        margin-bottom: 2rem;
    }

    .right_subscribe {
        margin-left: 0;
        width: 100%;
    }

    .subscribe input {
        width: 100%;
    }

    .subscribe button {
        width: 100%;
    }

    .input {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    header ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        display: none;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    header ul a {
        padding: 10px 0;
        font-size: 1.1rem;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .left_banner {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-banner {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .r_banner {
        width: 100%;
        height: 20rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .men h1 {
        font-size: 2.8rem;
    }

    .header_p {
        font-size: 1.2rem;
    }

    .img_container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card {
        width: 90%;
        margin-bottom: 2rem;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .details {
        flex-direction: column;
        align-items: center;
    }

    .card h3 {
        font-size: 1.8rem;
    }

    .card span {
        font-size: 1.6rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .left_content {
        width: 100%;
        text-align: center;
    }

    .right_content {
        width: 100%;
        flex-direction: column;
        margin-left: 0;
        gap: 20px;
        align-items: center;
        margin-top: 30px;
    }

    .box {
        width: 100%;
        height: 26.3rem;
    }

    .left_content h2 {
        font-size: 2.8rem;
    }

    .left_content p {
        font-size: 1.2rem;
    }

    .quote p {
        font-size: 1.2rem;
    }

    .box h3 {
        font-size: 2rem;
    }

    .box p {
        font-size: 1.2rem;
    }

    .image-container {
        width: 22%;
    }

    .social h2 {
        font-size: 2.8rem;
    }

    .social p {
        font-size: 1.2rem;
    }

    .overlay p {
        font-size: 1.2rem;
    }

    .subscribe h2 {
        font-size: 2.8rem;
    }

    .subscribe input {
        font-size: 1.4rem;
    }

    .right_subscribe {
        gap: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .link1 {
        width: 100%;
    }

    .under-footer ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .left_banner {
        height: 31rem;
        width: 100%;
        margin-right: 0;
        background-image: url('../images/left-banner-image.jpg');
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .left_banner h1 {
        font-size: 2.5rem;
    }

    .left_banner p {
        font-size: 1rem;
    }

    .right-banner {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .r_banner {
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .men h1 {
        font-size: 2.4rem;
        text-align: center;
    }

    .header_p {
        font-size: 1.1rem;
        text-align: center;
    }

    .img_container {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 100%;
        margin-bottom: 2rem;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .name_price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details {
        flex-direction: column;
        align-items: center;
    }

    .card h3 {
        font-size: 1.6rem;
    }

    .card span {
        font-size: 1.4rem;
    }

    .left_content h2 {
        font-size: 2.4rem;
    }

    .left_content p {
        font-size: 1rem;
    }

    .quote p {
        font-size: 1rem;
    }

    .box {
        height: 26.3rem;
    }

    .box h3 {
        font-size: 1.8rem;
    }

    .box p {
        font-size: 1rem;
    }

    .image-container {
        width: 20%;
    }

    .social h2 {
        font-size: 2.4rem;
    }

    .social p {
        font-size: 1rem;
    }

    .overlay p {
        font-size: 1rem;
    }

    .subscribe h2 {
        font-size: 2.4rem;
    }

    .subscribe input::placeholder {
        font-size: 1.2rem;
    }

    .subs_p {
        font-size: 1.2rem;
    }

    .footer {
        padding: 40px 0;
    }

    .link2 {
        font-size: 1.4rem;
    }

    .under-footer a {
        font-size: 22px;
    }

    .under-footer p a {
        font-size: 1.2rem;
    }
}
